doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='/js/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/js/gl-matrix-min.js')
    script(src="/socket.io/socket.io.js")
    script(type='text/javascript', src='/js/bundle.js')
  body
    block content
